body {
    background-color: #F1E3D3;
}

.title {
    color: #8E7DBE;
    font-family: Kalnia;
}

.subtitle {
    font-family: Kalnia;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    width: 100%;
    margin-bottom: 10%;
    z-index: 10;
}

.card {
    background-color: #F2D0A9;
    transition: background-color 200ms ease-out 100ms, transform 200ms ease-out 100ms;
}

.card:hover {
    background-color: #DAD8E5;
    transform: scale(110%);
}

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}


html,
body {
    height: 100%;
}

.footer {
    margin-top: 40%;
    bottom: 0;
    color: #707070;
    line-height: 2em;
    padding: .5em 0;
    position: absolute;
    font-size: small;
    width: 100%;
    font-size: large;
}

.container-fluid {

    min-height: 100%;
    overflow: auto;
    position: relative;
}

.container {
    padding-top: 100px;
    margin-bottom: 5%;
    padding-bottom: 100px;
}

a:hover {
    text-decoration: none;
}

.fa {
    font-size: x-large;
}

.contacto {
    font-size: 100px;
}
.experiencia {
   margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.btn {
    background-color: #8E7DBE;
}

.git {
    font-size: 100px;
}

.borde {
    border: solid #F2D0A9 5px;
    transition: background-color 200ms ease-out 100ms, transform 200ms ease-out 100ms;
}
.card:hover>.borde {
    border: solid #DAD8E5 5px;
}